* {
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box !important;
    /* border: solid red 1px; */
    /* font-family: 'Caveat', cursive;
    font-family: 'Orbitron', sans-serif; */
    /* font-family: 'Bruno Ace SC', cursive; */
}

body {
    background-image: url(../images/bruce-mars-S8ffHr_dxHo-unsplash.jpg);
    background-size: cover;
}

header {
    height: 10vh;
    background: rgb(208, 207, 96);
    background: linear-gradient(0deg, rgba(208, 207, 96, 0.5578606442577031) 0%, rgba(207, 187, 108, 0.577468487394958) 100%);
}

main {
    min-height: 80vh;
}

footer {
    height: 10vh;
    background: rgb(208, 207, 96);
    background: linear-gradient(0deg, rgba(208, 207, 96, 0.5578606442577031) 0%, rgba(207, 187, 108, 0.577468487394958) 100%);
}

/* header edit */

#headerLogo {
    width: 29rem;
    height: 100%;
}

#navbar {
    padding: 1rem !important;
}

#navbarContainer {
    background: rgb(208, 207, 96);
    background: linear-gradient(0deg, rgba(208, 207, 96, 0.5578606442577031) 0%, rgba(207, 187, 108, 0.577468487394958) 100%);
    padding: 1.3rem;
    border-radius: 0.3rem;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

#navbar a {
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
    font-weight: 1000;
    color: #606C5D;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

#navbar a:hover {
    color: 606C5Drgb(0, 0, 0);
    transform: scale(1.2);
    transition: color 0.5s ease;
}

#navInputs {
    font-family: 'Orbitron', sans-serif;
    width: 20rem;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

#user,
#password {
    width: 60%;
}

.labelLogin {
    color: #606C5D !important;
    font-weight: 600;
}

/* main edit */

#mainTitle {
    text-shadow: black 1px 3px;
    color: #606C5D !important;
}

#titleContainer {
    font-family: 'Orbitron', sans-serif;
    font-weight: 800;
    background: rgb(208, 207, 96);
    background: linear-gradient(0deg, rgba(208, 207, 96, 0.5578606442577031) 0%, rgba(207, 187, 108, 0.577468487394958) 100%);
    border-radius: 0.3rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.titleContainerHome {
    height: 40rem;
    width: 30rem;
}

.mainHomeTxt {
    color: #606C5D !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/* accounts edit */

.mainAccounts {
    color: #606C5D !important;
    font-family: 'Orbitron', sans-serif;
}

.spanInformation {
    color: #eb0808;
}

#mainInfo {
    background: rgb(209, 209, 192);
    background: linear-gradient(0deg, rgba(209, 209, 192, 0.767) 0%, rgba(222, 218, 204, 0.678) 100%);
}

.infoTitle {
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    color: #3a4438;
}

#accountsH1 {
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    background: rgb(209, 209, 192);
    background: linear-gradient(0deg, rgba(209, 209, 192, 0.5102415966386555) 0%, rgba(222, 218, 204, 0.5242471988795518) 100%);
}

#accountsTitleDesc {
    color: white;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    background-color: rgba(12, 12, 12, 0.349);
    border-radius: 0.5rem;
    padding: 0.3rem !important;
}

.card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
}

/* footer edit */

.footerP {
    margin: 0rem !important;
    font-size: x-small;
    color: #606C5D !important;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
}

#footerLogo {
    width: 4.5rem;
    height: 3rem;
}

/* table details edit */

th,
td {
    width: 20rem;
    height: 2rem;
    border: #606C5D 1px solid;
    font-family: 'Orbitron', sans-serif;
}

#captionAccountDetails {
    font-family: 'Orbitron', sans-serif;
    caption-side: top;
    background-color: white;
    color: #606C5D !important;
    font-size: 2rem !important;
    border: #606C5D 1px solid;
}

.debit {
    color: rgb(241, 20, 20);
}

.credit {
    color: rgb(6, 221, 6);
}

.goBackBtn {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.2rem !important;
    background-color: rgb(226, 224, 72) !important;
    color: #606C5D !important;
    border-style: outset !important;
}

.goBackBtn:hover {
    color: White !important;
    background-color: rgba(255, 145, 0, 0.89) !important;
}

/* about us edit */

#aboutUsTxt {
    padding: 1rem !important;
}

#aboutUsTitle {
    padding: 0.5rem !important;
}

#aboutUsTxt,
#aboutUsTitle {
    border-radius: 0.5rem;
    font-size: x-large;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    text-shadow: 3px 0px 7px rgba(81, 67, 21, 0.8);
    color: #fcfffb;
    font-family: 'Caveat', cursive;
    background: rgb(208, 207, 96);
    background: linear-gradient(0deg, rgba(208, 206, 96, 0.76) 0%, rgba(207, 187, 108, 0.822) 100%);
}

/* cards edit */

#creditCardModel {
    color: rgb(80, 79, 76);
    font-family: 'Bruno Ace SC', cursive;
    font-size: 1rem !important;
    /* text-shadow: 1.5px 1px 1px rgb(0, 0, 0); */
    text-shadow: 2px 0 #fff, -2px 0 #0f0f0f, 0 2px #2e2b2b, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    box-shadow: 5px -5px 4px #44444160, -5px 5px 4px #05050591;
    background-image: url(../images/silverBg.jpg);
    background-size: cover;
    width: 370px;
    height: 220px;
    border: 2px;
    border-style: outset !important;
    border-radius: 1rem;
    margin: 2rem !important;
}

#chip,
#mastercardLogo,
#cardLogo {
    width: 4rem;
    height: 3rem;
}

#cardLogo {
    background-color: #02020294;
    border-radius: 1rem;
    margin: 5px !important;
}

#holoLogo {
    border-radius: 1rem;
    border: 0.5px;
    border-style: outset;
    width: 4.5rem;
    height: 3rem;
}

.goodThru {
    font-size: x-small;
}

.silverBg {
    background-image: url(../images/silverBg.jpg) !important;
    background-size: cover;
}

.goldBg {
    background-image: url(../images/goldBg.jpg) !important;
    background-size: cover;
}

.titaniumBg {
    background-image: url(../images/platinumBg.jpg) !important;
    background-size: cover;
}

/* mediaquerys */

@media only screen and (max-width: 1500px) {
    header {
        min-height: 27vh;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}

@media only screen and (max-width: 1200px) {
    .mainHome {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .mainTitleContainer {
        width: 50rem !important;
    }
}

@media only screen and (max-width: 800px) {
    header {
        min-height: 50vh !important;
    }

    #navbar {
        flex-direction: column !important;
        gap: 0 !important;
    }

    #headerLogo {
        width: 29rem;
        height: 7rem;
    }

    .mainTitleContainer {
        width: 40rem !important;
    }

    #mainInfo {
        flex-direction: column;
    }
}

@media only screen and (max-width: 650px) {
    #textBottomMain2 {
        display: none !important;
    }

    .mainHome {
        margin: none !important;
        width: 80%;
    }

    .mainTitleContainer {
        width: 30rem !important;
    }
}

@media only screen and (max-width: 500px) {
    #textBottomMain {
        display: none !important;
    }

    footer {
        flex-direction: column;
    }

    #headerLogo {
        width: 18rem;
        height: 5rem;
    }

    .mainHome {
        margin: none !important;
        width: 80%;
    }

    .mainTitleContainer {
        width: 20rem !important;
    }

    #accountCard {
        width: 20rem;
    }

    #accountDetailsTable {
        font-size: 0.8rem;
    }
}