<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Orbitron&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/styles/style.css">
    <link rel="shortcut icon" href="../assets/images/faviconnuevo.png" type="image/x-icon">
    <title>Accounts</title>
</head>

<body id="bodyAccounts" v-cloak>
    <div id="app">
        <style>
            [v-cloak]>* {
                display: none;
            }

            [v-cloak]::before {
                content: "LOADING...";
                font-family: 'Orbitron', sans-serif;
                font-size: 2rem;
                font-weight: 700;
                color: #32aa14 !important;
                text-shadow: 2px 4px 3px rgb(0, 0, 0);
            }
        </style>
        <header class="d-flex justify-content-around align-items-center">
            <img id="headerLogo" src="../assets/images/logonuevo.png" alt="banklogo">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand mx-3" href="#">Menu-> </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav gap-3">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="./myProfile.html">MY PROFILE</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">ACCOUNTS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./cards.html">CARDS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./transfers.html">TRANSFERS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./loan-application.html">LOAN APPLICATION</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./aboutUs.html">ABOUT US</a>
                            </li>
                            <input @click.prevent="sessionLogOut()" class="btn btn-danger" type="submit"
                                name="sendLogout" id="sendLogout" value="LOG OUT">
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main class="mainAccounts d-flex flex-column align-items-center justify-content-around">
            <section id="accountsH1" class="m-5 text-center p-2 rounded">
                <h1 class="m-3 accountsTitle">MY PERSONAL INFORMATION</h1>
                <p id="accountsTitleDesc">Hello <span class="spanInformation">{{clientName}}</span>, in this page you
                    can see your accounts and loans information</p>
            </section>
            <div id="mainInfo" class="w-100 d-flex flex-column justify-content-around flex-wrap">
                <section class="m-1 d-flex flex-column align-items-center accountsSection">
                    <h2 class="infoTitle m-2 text-center">Accounts Information</h2>
                    <div v-if="accounts.length < 3">
                        <form class="d-flex flex-column justify-content-center align-items-center">
                            <label class="accountTypeLabel" for="accountType">Select an <span class="spanAbout">account
                                    type</span> to create a new one</label>
                            <select v-model="accountType" name="accountType" id="accountType">
                                <option class="selectBox" selected disabled>Select an Account Type</option>
                                <option class="selectBox" value="SAVINGS">Savings Account</option>
                                <option class="selectBox" value="CURRENT">Current Account</option>
                            </select>
                            <input @click.prevent="createAccount()" v-if="accountType != ''" class="btn btn-success m-2"
                                type="submit" name="createAccount" id="createAccount" value="Create New Account">
                        </form>
                    </div>
                    <div class="d-flex flex-wrap align-items-center justify-content-center">
                        <div v-if="accounts.length != 0" v-for="account of accounts" class="m-3 p-2 card accountsCards"
                            v-bind:key="account.number">
                            <p class="pinfo textSeparator"><span class="spanAccInformation">Number:
                                </span>{{account.number}}</p>
                            <p class="pinfo textSeparator"><span class="spanAccInformation">Type:
                                </span>{{account.type}}</p>
                            <p class="pinfo textSeparator"><span class="spanAccInformation">Balance: </span> $
                                {{account.balance.toLocaleString()}}</p>
                            <p class="pinfo textSeparator"><span class="spanAccInformation">opening date:
                                </span>{{account.creationDate}}</p>
                            <div class="d-flex justify-content-end m-2">
                                <a class="text-decoration-none fw-bold seeDetailsBtn"
                                    v-bind:href="`./account.html?id=${account.id}`">SEE DETAILS</a>
                            </div>
                            <i class="bi bi-x-octagon-fill bi-lg text-danger deleteAccountIcon"
                                @click="deleteAccount(account.number)">Delete</i>
                        </div>
                    </div>
                    <p v-if="accounts.length == 0">You don't have accounts!</p>
                </section>
                <section class="m-1 d-flex flex-column">
                    <h2 class="infoTitle m-2 text-center">Loans Information</h2>
                    <div class="d-flex justify-content-center align-items-center flex-wrap">
                        <div v-if="loans.length != 0" v-for="loan of loans" v-bind:class="changeLoanPaid(loan)" class="bg-white m-3 p-2 card loanCards">
                            <p class="pinfo textSeparator"><span class="spanLoanInformation">Loan: </span>{{loan.name}}
                            </p>
                            <p class="pinfo textSeparator"><span class="spanLoanInformation">Amount: </span> $
                                {{loan.remainAmount.toLocaleString()}}</p>
                            <p class="pinfo textSeparator"><span class="spanLoanInformation">Monthly: </span> $
                                {{paymentsCalculator(loan.amount, loan.payments)}}</p>
                            <p class="pinfo textSeparator"><span class="spanLoanInformation">Payments:
                                </span>{{loan.remainPayments}} remains</p>
                            <div v-if="loan.remainAmount != 0">
                                <a class="text-decoration-none fw-bold seeDetailsBtn" :href="`./loanPayment.html?id=${loan.id}`">Make a Payment</a>
                            </div>
                        </div>
                    </div>
                    <p v-if="loans.length == 0">"You don't have loans!"</p>
                </section>
            </div>
        </main>
        <footer class="d-flex justify-content-between align-items-center">
            <div id="footerTxt" class="d-flex flex-column m-3">
                <p class="footerP text-white">Follow us for daily updates</p>
                <p class="footerP text-white">Privacy and Security Policies</p>
                <p class="footerP text-white">Code of Conduct and Good Practices for Banks and Financial Institutions
                </p>
                <p class="footerP text-white">©DevByMarcoMiquel</p>
            </div>
            <div id="footerAnchorContainer">
                <a class="footerAnchor" href="mailto:customerservice@bankofwonders.com">SEND US A MAIL!</a>
                <a class="footerAnchor" href="tel:+123 45678945">GIVE US A CALL!</a>
                <img id="footerLogo" class="m-3" src="../assets/images/faviconnuevo.png" alt="logo">
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../assets/scripts/accounts.js"></script>
</body>

</html>